<!DOCTYPE HTML>
<html ng-app="Mediasearch">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ site_title }}</title>
  </head>

  <body>

    <h1>{{ site_title }}</h1>

    <form ng-controller="MediasearchForm" ng-submit="search()">
      <div>
        {{
          form.search_query(
            placeholder='Search Terms...',
            type='search',
            **{'ng-model': 'form.search_query'}
          )
        }}
        <input type="submit"
          style="font-size: 125%;"
          value="Search" />
      </div>
    </form>

    {% raw %}
    <div class="results"
         ng-controller="MediasearchResultsController"
         ng-show="results_visible">

      <h2>Results</h2>

      <p>
        Found {{ count }} results.
        <b ng-show="results_done">Done</b>
      </p>

      <ul>
        <li ng-repeat="result in items">
          {{ result.title }} <a ng-href="{{ result.url }}">{{ result.source }}</a>
        </li>
      </ul>

    </div>
    {% endraw %}

    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>

  </body>

</html>
{# vim: ft=jinja : #}
