<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ site_title }}</title>
  </head>

  <body>

    <h1>{{ site_title }}</h1>

    <h2>Search</h2>
    <form method="post" action="{{ form_url }}">
      <div style="display:none; width: 0; height:0;">{{ form.csrf_token }}</div>
      <div>
        {{ form.search_query(placeholder='Search Terms...') }}
        <input type="submit" value="Search" />
      </div>
    </form>


    <h2>Results</h2>
    <div class="results-container">

    </div>

  </body>

</html>
{# vim: ft=jinja : #}
